
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem auto;
}

.gallery {
    font-size: 25px;
    padding: 5%;
    background-color: rgb(82, 147, 163);
    margin: 1.1rem;
    color: rgb(255, 255, 255);
    max-width: 40%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .gallery {
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 813px) {
    .gallery {
        width: 100%;
        height: 100%;
    }
}

.image {
    max-width: 50%;
    margin: auto;
}
.button {
    margin: auto;
    font-size: 40px;
    background-color: rgb(230, 119, 45);
    color: rgb(255, 255, 255);
}

.card-title {
    text-align: center;
}

.info {
    background-color: rgb(47, 99, 194);
    padding: 5%;
    text-align: left;
    max-width: 200px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: auto;
}

input {
    margin: auto;
}